.new-cost__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.new-cost__control label {
  color: #5c5f60;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-cost__control input {
  font: inherit;
  color: #5c5f60;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 22.2rem;
  max-width: 100%;
}

.new-cost__actions {
  margin: 0 auto;
}
